[Desktop Entry]
Name=Upwork
Comment=Upwork Desktop Application (Wayland patched)
GenericName=Time Tracker
Exec=upwork-wayland %U
Icon=upwork
Type=Application
StartupNotify=true
StartupWMClass=Upwork
Categories=Utility;
MimeType=x-scheme-handler/upwork;
Keywords=upwork;freelance;time;tracker;
